.main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mainTitle {
    font-size: 40px;
}
.loginForm, .regForm {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px rgb(0, 0, 146) solid;
    padding: 25px 20px;
    width: 20%;
    margin: 20px 0;
}
.regForm {
    width: 50%;
}
.blockTitle {
    position: absolute;
    top: -30px;
    font-size: 18px;
    background: white;
    padding: 0 5px;
}
.inptBlock {
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.regBlock {
    border-bottom: 1px black solid;
}
.regBlock_title {
    font-size: 25px;
}
.radioSection {
    display: flex;
    flex-direction: column;
}
.radioBlock > label {
    font-size: 20px;
}
.radioBlock > input {
    width: 15px;
    height: 15px;
}

.inptBlockLogin {
    justify-content: space-between;
}

.inptBlockLogin > input, .inptBlockReg > input {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    font-size: 15px;
}
.inptBlockReg {
    justify-content: center;
}
.inptBlockReg > input {
    width: 20%;
}
.inptBlockReg > label {
    position: absolute;
    left: 5%;
}
.inptBlockReg > p {
    margin: 0 0 0 10px;
}
.inptBlock > label {
    font-size: 20px;
}
.inptSelect {
    width: 20%;
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
}
#color {
    width: 60%;
    height: 30px;
}
#subscribe {
    appearance: none;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}
#subscribe:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
.submit {
    width: 100px;
    height: 30px;
    align-self: center;
    font-size: 15px;
    margin: 10px 0;
}