.regForm {
  width: 50%;
  margin: 0 auto;
}

.mainFieldset {
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockFieldset {
  margin: 20px 0;
  border: none;
  border-bottom: 2px black solid;
}
.blockFieldset-legend {
  font-size: 20px;
  font-weight: bold;
}

.regLabel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0;
}

.checkboxLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkboxLabel-input {
  width: 15px;
  height: 15px;
}

.inputColor {
  width: 100%;
}

.submit {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gender {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.gender-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gender-radio-label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 150px;
  cursor: pointer;
}