.users-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center
}

.user-block {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_gender {
    font-size: 15px;
  }
}

.users-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-gender {
    display: flex;
    justify-content: space-between;
  }
}